---
import "../../styles/infobox.scss";

export interface Props {
  image?: string;
  alt?: string;
  name?: string;
  tags?: string[];
  fields: { label: string; value: string }[];
}

const { image, alt, name, tags, fields } = Astro.props;
---

<aside class="infobox">
  <div class="header">
    {image && (
      <img class="header-bg" src={image} alt={alt ?? ''} loading="lazy" />
    )}
    <div class="title">
      <h1>{name}</h1>
      {tags && tags.length > 0 && (
        <p>{tags.join(' • ')}</p>
      )}
    </div>
  </div>
  <div class="content">
    <div class="grid">
      {fields.map((f) => (
        <div class="box">
          <div class="label">{f.label}</div>
          <div class="value">{f.value}</div>
        </div>
      ))}
    </div>
  </div>
</aside>
